window-rule {
  match app-id=r#"^nm-connection-editor$"#
  open-floating true
}

window-rule {
  match app-id=r#"^blueman-applet-wrapped$"#
  open-floating true
  default-floating-position x=800 y=0 relative-to="top-left"
}

window-rule {
  match title=r#"^Picture-in-Picture"#
  open-floating true
  default-column-width { fixed 320; }
  default-window-height { fixed 180; }
  default-floating-position x=940 y=20 relative-to="top-left"
}

window-rule {
  match app-id=r#"^imv$"#
  open-floating true
  default-column-width { fixed 300; }
  default-window-height { fixed 300; }
}
