@define-color light-white #EDDFBF;
@define-color light-red #E26F6F;
@define-color light-orange #EA7742;
@define-color light-yellow #E1BA3F;
@define-color light-green #92C654;
@define-color light-aqua #49AB77;
@define-color light-blue #257DC7;
@define-color light-purple #B47CC0;
@define-color light-black #25373A;
@define-color white #DAB97C;
@define-color red #AE2626;
@define-color orange #A8460B;
@define-color yellow #9B8318;
@define-color green #437F06;
@define-color aqua #0B8C5F;
@define-color blue #23569F;
@define-color purple #991294;
@define-color black #10072B;

* {
	font-family: JetBrainsMono Nerd Font, JetBrainsMono;
	font-size: 16px;
	box-shadow: none;
	text-shadow: none;
	border: none;
}

window#waybar>box {
	padding:10px;
}

window#waybar {
	background-color: alpha(@white, .9);
	color: @black;
	border-radius: 5px;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

tooltip {
	background-color: @white;
	border-radius: 5px;
	padding: 10px;
}

tooltip label {
	color: @black;
}

#workspaces button {
	background: transparent;
	color: @blue;
	border-radius: 0;
	border: transparent;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
}

#workspaces button.active {
	color: @green;
	border-right: 3px solid @green;
}

#workspaces button:hover:not(.active) {
	color: @green;
	border: transparent;
	border-left: 3px solid transparent;
	border-right: 3px solid @green;
}


