output "HDMI-A-1" {
  mode custom=true "2400x1080@60"
  position x=0 y=0
  scale 1.25
}

output "HDMI-A-2" {
  mode custom=true "2400x1080@60"
  position x=0 y=0
  scale 1.25
}

output "DP-1" {
  mode custom=true "2400x1080@60"
  position x=0 y=0
  scale 1.25
}
